version: '3.8'

services:
  app:
    image: go-application-testing:latest
    container_name: go-app
    ports:
      - "8080:8080"
    labels:
      logging: "promtail"
      service: "go-app"
    restart: unless-stopped
    networks:
      - application

  postgres:
    image: postgres:18.2-alpine3.22
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - application


  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoriametrics
    ports:
      - "8428:8428"
    volumes:
      - victoria-data:/victoria-metrics-data
    command:
      - '--storageDataPath=/victoria-metrics-data'
      - '--httpListenAddr=:8428'
      - '--retentionPeriod=12'
    restart: unless-stopped
    networks:
      - application

  tempo:
    image: grafana/tempo:2.3.1
    container_name: tempo
    ports:
      - "3200:3200"   # tempo
      - "4317:4317"   # otlp grpc
      - "4318:4318"   # otlp http
    volumes:
      - ./local/tempo-config.yaml:/etc/tempo.yaml
      - ./local/data/tempo-data:/tmp/tempo
    command: 
      - '-config.file=/etc/tempo.yaml'
      - '-target=all'
    restart: unless-stopped
    networks:
      - application

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_PLUGINS_PREINSTALL_SYNC=grafana-pyroscope-app
    volumes:
      - grafana-data:/var/lib/grafana
      - ./local/grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
    restart: unless-stopped
    networks:
      - application
    depends_on:
      - victoriametrics
      - tempo

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./local/loki-config.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped
    networks:
      - application

  promtail:
    image: grafana/promtail:2.9.3
    container_name: promtail
    ports:
      - "9080:9080" 
    volumes:
      - ./local/promtail-config.yaml:/etc/promtail/config.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yaml
    restart: unless-stopped
    networks:
      - application
    depends_on:
      - loki

  pyroscope:
    image: grafana/pyroscope:latest
    container_name: pyroscope
    ports:
      - "4040:4040"
    volumes:
      - pyroscope-data:/data
    restart: unless-stopped
    networks:
      - application

networks:
  application:
    driver: bridge

volumes:
  victoria-data:
  tempo-data:
  grafana-data:
  loki-data:
  pyroscope-data:
  postgres-data:
